@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

/* html{   
	 background:url(https://www.warhistoryonline.com/wp-content/uploads/sites/64/2018/08/kursk_2.jpg) no-repeat;
  background-size: cover;
  height:100%;
  
} */

#feedback-page{
	text-align:center;
}

body{
	backdrop-filter: blur(6px);
}

#dedrio{
	width:100%;
	float:left;
	padding-top:0px;
}

#sector {
	background-color:rgba(72,72,72,0.4);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 450px;
	float: left;
	left: 50%;
	position: relative;
  margin-top:30px;
	margin-left: -260px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

.feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid #3498db;
	color: #3498db;
	outline: none;
  padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}

#name:focus{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}








input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#budwiser{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	color:#000000; 
	text-align:center;
}

#start-button{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #3498db;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}

#start-button:hover{
	background-color: rgba(0,0,0,0);
	color: #0493bd;
}
	
.submit:hover {
	color: #3498db;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

@media only screen and (max-width: 580px) {
	#form-div{
		left: 3%;
		margin-right: 3%;
		width: 88%;
		margin-left: 0;
		padding-left: 3%;
		padding-right: 3%;
	}
}

/* userList */

#userList {
	display: block; 
	position: fixed;
	z-index: 1; 
	left: 0;
	top: 0;
	text-align: center;
	width: 100px; 
	height: 50px; 
	overflow: auto; 
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4); 
	color: white;
}

#score {
	display: block; 
	position: fixed;
	z-index: 1; 
	right: 0;
	top: 0;
	text-align: center;
	width: 100px; 
	height: 50px; 
	overflow: auto; 
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4); 
	color: white;
}

#controller {
	display: block; 
	position: fixed;
	z-index: 1; 
	right: 0;
	bottom: 0;
	text-align: center;
	width: 500px; 
	/* height: 100px;  */
	overflow: auto; 
	/* background-color: rgb(0,0,0);  */
	/* background-color: rgba(0,0,0,0.4);  */
}

#controller button {
	background-color: transparent;
	border: 0px;
}

/* @media (min-width: 1200px) {
	#controller {
		display: none;
	}
	#controller button {
		display: none;
	}

} */

#controller img {
	opacity: 0.3;
	margin: 5px;
	height: 30px;
	padding: 30px;
	border: 0px;
}

#controller img:hover {
	opacity: 0.8;
}

#nameOfplayers {
	display: block; 
	position: fixed;
	z-index: 1; 
	left: 0;
	bottom: 0;
	text-align: center;
	width: 220px; 
	height: 100px; 
	overflow: auto; 
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4); 
	color: white;
}

#preloader {
	display: block; 
	position: fixed;
	z-index: 1; 
	/* left: 0; */
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%; 
	height: 100vh; 
	overflow: auto; 
	background-color: rgb(0, 0, 0); 
	/* background-color: rgba(0, 0, 0, 0.4);  */
	color: white;
}

#preloader img {
	height: 20%;
}

/* modal */

.modal {
	display: block; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	padding: 15px;
  }
  
  .close:hover,
  .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  }